################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedListExample/obj
/LinkedListExample/bin/Debug/netcoreapp2.1
/.vs/LinkedListExample/v15/Server/sqlite3
